/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }
    header .topheading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
        text-align: center;
    }
    header .logo-sec img {
        height: 30vh;
        border: 0.3rem solid green;
        border-radius: 50%;
        box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.7);
    }
    .content {
        margin-top: 2rem;
        color: violet;
        font-style: italic;
        padding: 2.1rem;
    }
    .content2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .content2 img {
        height: fit-content;
        width: 91%;
    }
    .nav-for-mob {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.7);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .nav-for-mob a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .nav-for-mob a:hover {
        color: #f1f1f1;
        background-color: rgb(65, 122, 122);
    }
    .nav-for-mob .close-btn {
        position: absolute;
        top: 20px;
        left: 60%;
        font-size: 36px;
    }
    .open-btn {
        font-size: 40px;
        font-weight: bolder;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 0%;
        color: #333;
    }
    @media (max-width: 600px) {
        .open-btn {
            display: block;
        }
    }
    /* Profile Popup Styles */
    .profile-popup {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 98%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .profile-popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
    }
    .close-profile-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close-profile-btn:hover,
    .close-profile-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /* Developers Popup Styles */
    .developers-popup {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 98%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .developers-popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
        text-align: center;
    }
    .close-developers-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close-developers-btn:hover,
    .close-developers-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /* Profile Popup */
    .profpopup {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .profpopup .profimage img {
        height: 140px;
        width: 140px;
        border: 0.3rem solid blue;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    }
    .profpopup .profbtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .profpopup .profbtn .fbbtn {
        text-decoration: none;
        color: white;
        background-color: blue;
        padding: 0.7rem;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    }

    .profpopup .profbtn .instabtn {
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 0.7rem;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    }
    .profpopup .profbtn a:hover {
        background-color: #aaa;
    }
}

@media (min-width: 600px) {
    .nav-for-mob, .open-btn, .profile-popup, .developers-popup {
        display: none;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 1rem;
    }
    header .topheading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 3rem;
    }
    header .logo-sec img {
        height: 30vh;
        border: 0.3rem solid green;
        border-radius: 50%;
        box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
    }
    .content {
        margin-top: 2rem;
        color: violet;
        font-style: italic;
        padding: 2rem;
    }
    .content2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .content2 img {
        height: 60vh;
    }
}

footer {
    padding: 1rem;
    width: 100%;
    background-color: black;
    margin-top: 2rem;
    color: white;
    text-align: center;
}
